<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Pokedéx - Create</title>
  </head>
  <body>
    <nav>
      <span class="hstack">
        <img src="/images/pokeball.png" alt="Pokeball" />
        <h1>Pokédex</h1>
      </span>
      <span class="hstack">
        <a href="/">Home</a>
        <a href="/create" class="active">Create</a>
      </span>
    </nav>
    <main>
      <section class="container" id="create-container">
        <form action="/new" method="post">
          <object data="/images/pokeballs.png" type="image/png">
            <img src="" alt="Pokemon image" id="pokemon-image" />
          </object>

          <label for="number">Número: </label>
          <input
            type="number"
            name="number"
            class="create-inputs"
            placeholder="Pokemon Number"
            required
          />

          <label for="name">Name: </label>
          <input
            type="text"
            name="name"
            class="create-inputs"
            placeholder="Pokemon Name"
            required
          />

          <label for="photo">Photo: </label>
          <input
            type="file"
            name="photo"
            class="create-inputs"
            required
          />

          <label for="type">Pokemon Type: </label>
          <select name="type" id="type" multiple required>
            <% types.forEach((type, index) => { %>
            <option key=<%=index%> value=<%= type%> ><%= type%></option>
            <% }) %>
          </select>

          <label for="description">Descrição: </label>
          <input
            type="text"
            name="description"
            class="create-inputs"
            placeholder="Pokemon Description"
            required
          />

          <label for="height">Altura: </label>
          <input
            type="number"
            name="height"
            class="create-inputs"
            placeholder="Pokemon height"
            data-mask="0.00"
            required
          />

          <label for="weight">Peso: </label>
          <input
            type="number"
            name="weight"
            class="create-inputs"
            placeholder="Pokemon height"
            required
          />

          <label for="category">Categoria: </label>
          <input
            type="text"
            name="category"
            class="create-inputs"
            placeholder="Pokemon category"
            required
          />

          <label for="ability">Habilidade: </label>
          <input
            type="text"
            name="ability"
            class="create-inputs"
            placeholder="Pokemon ability"
            required
          />

          <button type="submit" id="create-button">Create</button>
        </form>
      </section>
    </main>
  </body>
</html>
